body {
    background-color: #fff;

}
#bodyAv {
    background-color: #fff;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
#section {
    background-color: rgb(211, 211, 211);
    width: 600px;
}
#title {
    padding-top: 10px;
}
#imgWeather {
    height: 179px;
    width: 150px;
}
.temperature {
    color: #DB9530;
    font-family: sans-serif;
    font-size: 46px;
    font-weight: 400;
    margin: 0;
}
.thermalSensation {
    color: #383838;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.liteDescription {
    color: #464343;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
div .card-body {
    padding-left: 0;
    padding-right: 10px;
}
div .align {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 170px;
    margin: 20px 5px;
    border: 1px solid black;
}
.resalt {
    background-color: #ffd3b6;
}
.noResalt {
    background-color: #ffaaa5;
}
.hidden {
    display: none;
}
.sevenDays, .btn-7 {
    display: flex;
    justify-content: center;
}
.btn-7 {
    margin-bottom: 10px;
}
#padding {
    padding: 0;
    background-color: rgb(187, 187, 187);
    margin-bottom: 5px;
}
#mapid {
    border-radius: 10px;
    margin-bottom: 16px;
    margin-left: 10px;
    width: 471px;
    height: 267px;
}
.imgSeven {
    height: 100px;
    width: 100px;
}
.informationSeven {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(187, 187, 187);
}
.maxMin {
    display: flex;
    flex-direction: column;
}
.maxT {
    margin: 0;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 300;
}
.minT {
    color: #4e4d4d;
    font-size: 16px;
    font-weight: bold;
}
.leaflet-control {
    display: none;
}

/*
Finish index page, and start the aviation page
*/

.airportICAO {
    text-align: center;
    font-size: 24px;
}
.wrapperAviation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.descriptionMetar {
    width: 30%;
    border: 1px solid black;
    margin-right: 10px;
}
.descriptionTaf {
    width: 30%;
    border: 1px solid black;
}
.airportInformation {
    width: 30%;
    border: 1px solid black;
    margin-left: 10px;
    min-height: 232px;
}
.description {
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 24px;
}
.alignAviationTable {
    display: flex;
    justify-content: center;
    width: 100%;
}
.trAviation {
    border-bottom: 1px solid #767676;
}
.spanDescription {
    font-weight: bold;
    text-align: center;
}
.list {
    list-style: none;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #section {
        width: 95%;
    }
    #imgWeather {
        height: 100px;
        width: 100px;
    }
    div .col-md-4 {
        display: flex;
        justify-content: center;
    }
    #mapid {
        border-radius: 10px;
        margin-bottom: 16px;
        margin-left: 0;
        width: 95%;
        height: 243px;
    }
    #hidden {
        display: flex;
        flex-direction: column;
    }
    .informationSeven {
        width: 95%;
    }
    /*
    Finish index page, start aviation page
    */
    .wrapperAviation {
        display: flex;
        justify-content: center;
    }
    .descriptionMetar {
        width: 75%;
    }
    .descriptionTaf {
        margin-right: 5px;
        margin-top: 10px;
        width: 75%;

    }
    .airportInformation {
        margin-top: 10px;
        width: 75%;
        margin-right: 10px;
    }

}
